{% extends 'base.html.twig' %}

{% block content %}
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <form method="post">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <input type="hidden" name="service" value="youtube">
                    <button class="mdl-color--red-900 mdl-button mdl-textfield--full-width mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            type="submit" autofocus>
                        <span>{{ 'login_button_login_youtube' | trans }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mdl-layout-spacer"></div>
{% endblock %}