{% extends 'base.html.twig' %}

{% block content %}
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <form method="post">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="accessToken" name="accessToken"
                               value="{{ accessTokenJson }}">
                        <label class="mdl-textfield__label" for="accessToken">Access Token</label>
                    </div>
                    <button class="mdl-color--red-900 mdl-button mdl-textfield--full-width mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            type="submit" autofocus>
                        <span>update</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mdl-layout-spacer"></div>
{% endblock %}