{% extends 'base.html.twig' %}

{% block content %}
    <div class="mdl-cell mdl-cell--12-col">
        <h1>
            <i class="material-icons">{{ page.icon }}</i>
            <span>&nbsp;</span>
            <span>{{ page.title }}</span>
        </h1>
        <p>TODO</p>
    </div>
{% endblock %}