# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # database
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    # mailer
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # happy_r_google_api
    happy_r_google_api_application_name:     APPLICATION_NAME
    happy_r_google_api_oauth2_client_id:     CLIENT_ID
    happy_r_google_api_oauth2_client_secret: CLIENT_SECRET
    happy_r_google_api_oauth2_redirect_uri:  REDIRECT_URI
    happy_r_google_api_developer_key:        DEVELOPER_KEY
    happy_r_google_api_site_name:            SITE_NAME
