# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # database
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    # mailer
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # google_api_credentials
    google_api_application_name:          'APPLICATION_NAME'
    google_api_developer_key:             'DEVELOPER_KEY'
    google_api_oauth2_json:
        web:
            client_id:                    'CLIENT_ID'
            project_id:                   'PROJECT_ID'
            auth_uri:                     'https://accounts.google.com/o/oauth2/auth'
            token_uri:                    'https://accounts.google.com/o/oauth2/token'
            auth_provider_x509_cert_url:  'https://www.googleapis.com/oauth2/v1/certs'
            client_secret:                'CLIENT_SECRET'
            redirect_uris:
                - 'https://youtube.reecube.com/oauth/google/redirect'
            javascript_origins:
                - 'https://youtube.reecube.com'
