<button id="language-navigation-dropdown-trigger"
        class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">language</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="language-navigation-dropdown-trigger">
    <li class="mdl-menu__item">
        <i class="material-icons">check_box_outline_blank</i>
        <span>Deutsch</span>
    </li>
    <li class="mdl-menu__item">
        <i class="material-icons">check_box_outline_blank</i>
        <span>Français</span>
    </li>
    <li class="mdl-menu__item">
        <i class="material-icons">check_box</i>
        <span>English</span>
    </li>
</ul>