{% extends 'base.html.twig' %}

{% block content %}
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <form method="post">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="username" name="username">
                        <label class="mdl-textfield__label" for="username">Username...</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                        <label class="mdl-textfield__label" for="password">Password...</label>
                    </div>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                    <button class="mdl-color--grey-400 mdl-button mdl-textfield--full-width mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            type="reset">
                        <span>Reset</span>
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                    <button class="mdl-color--green-900 mdl-button mdl-textfield--full-width mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            type="submit">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mdl-layout-spacer"></div>
{% endblock %}