.mdl-menu .material-icons {
    vertical-align: middle;
}

.plf-mdl-card__header {
    position: relative;

    padding: 16px;

    min-height: 200px;

    overflow: hidden;

    background: #333 center no-repeat;
    background-size: cover;
}

.plf-card-external-link {
    float: right;

    text-align: right;
}

.plf-channel-icon {
    width: 46px;
    height: 46px;

    border-radius: 50%;
}